
        body{
            background-image: url("bonk.png");
            font-family: 'Press Start 2P', cursive;
            background-position: fixed;
          
            
        }       
        p {
        color: azure;
        text-align: center;
        font-family: 'Press Start 2P', cursive;
        font-size: 10px;

       }
       h1{
        color: azure;
        font-family: 'Press Start 2P', cursive;
        text-align: center;
       }
       div{
         margin: auto;
         background-color: rgb(0, 0, 0);
         width: 1450px;
         height: 6000;
         position: center;
         font-family: 'Press Start 2P', cursive;
       }